@import models.Post
@(posts : List[Post])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/scrolldiv.css">
    <link rel="stylesheet" href="/assets/stylesheets/favoritestar.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
@nav.render("home")
<body>
<div class="jumbotron">
    <div class="row">
        <div class="col-12 text-center display-4">
            SpeedReader
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="scrolldiv col-md-10 offset-md-1">
            @for(post <- posts) {
            <div class="row border border-success">
                <div class="col-12">
                <a href="@post.getPostLink">@Html(post.getPostTitle)</a></div>
                <div class="col-12">@Html(post.getPostDescription)</div>
                <div><a href="/../post/@post.getPostId">Comments </a>@post.getDate</div>
            </div>
            }
        </div>
    </div>
</div>
<script src="/assets/javascripts/favoritebutton.js"></script>
</body>
</html>