@(page : String)
<nav class="navbar navbar-expand-sm bg-dark navbar-dark static-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            @if("home".equals(page)){
            <li class="nav-item active">
                } else {
            <li class="nav-item">
                }
                <a class="nav-link" href="/../">Home</a>
            </li>
        </ul>
        <form method="get">
        <ul class="nav navbar-nav navbar-right">
                @if(session().get("User") == null) {
                <li>
                    <button class="btn btn-link text-light" formaction="/../signup"><i class="fas fa-user-circle"></i> Sign Up</button>
                </li>
                <li>
                    <button class="btn btn-link text-light" formaction="/../login"><i class="fas fa-sign-in-alt"></i> Login</button>
                </li>
                } else {
                <li>
                    <button class="btn btn-link text-light" formaction="/../user"> @session().get("User")</button>
                </li>
                <li>
                    <button class="btn btn-link text-light" formaction="/../logout"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </li>
                }
        </ul>
        </form>
    </div>
</nav>